<h1>MakeQ#edit</h1>
<p>Find me in app/views/makeq/edit.html.erb</p>
<h1>編集画面</h1>
<%= form_for(@question, :url => {:action => :update}) do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>本文</h4>
    <%= f.text_area :explain %>
    <%= f.submit '保存' %>    
<% end %>

<!-- , makeq_path(@question.id) -->