<div class = "page-title-container">
<div class = "page-title">フェルミDBのルール!</div>
</div>
<div class = "container-answears">
	<p>
		当サイトは、フェルミ推定をはじめとするいわゆる「答えのない問題」へ、誰でも気軽に答えを投稿できる<span class = "red">ユーザー参加型</span>で、結論や思考法を評価することを目的としたメディアサイトです。<br>
		運営者については<a href = "/about_us">About us</a>をご覧ください。
	</p>
</div>
<div class = "container-rule">
	<p>
		基本ルールです。
	</p>
	<p>
		まず、問題が出題される際に同時に「解答期限」が発行されます。ユーザーの皆様には皆様にはこの期限までに問題に解答していただきます。だいたい、出題から1週間ほどです。<br>
		「解答期限」を過ぎると、他の人の解答を閲覧することができます。そして、「いいね」と「反論」を投稿できます。<br>
		「解答期限」超過後4日の「投票期限」を迎えたタイミングで、もっともいいねが多い解答が優勝です！！
	</p>
	<p>
		<br><li class = "rule-kyocho">マイページについて</li><br>
		メニューのユーザー名をクリックして進んだ先にあります。
		<br>ユーザー名の変更とユーザーポイントである「Contribution」の確認ができます。<br>他の人のステータスも確認することができます。
	</p>
	<p>
		<br><li class = "rule-kyocho">「ユーザーポイント」について</li><br>
		マイページの「Contribution」が、各ユーザーの所持ポイントとなります。<br>

	</p>
	<p>
		問題への解答1つごとに+5pt,解答がいいねされるごとに１つにつき+1ptされます。
	</p>
</div>


